body {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Open Sans;

  .box {
    margin-top: 70px;
    padding-bottom: 40px;
     background: rgba(255, 255, 255, 0.4);

    .quote {
      padding-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }
    .author {
      padding-right: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }
    button {
      border-radius: 10px;
      border:0px;
      line-height: 30px;
      color: white;
    }
    #btnQuote {
      background-color: #3d969e;
    }
    #btnTweet {
      background-color: #50abf1;
      margin-top: 20px;
    }
  }
}
